<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h1>Signup</h1>
  <form
	action="/signup"
	method="post">
	<section>
		<label for="email">Email</label
		><input
			type="username"
			id="username"
			name="email"
			autocomplete="username"
			required />
	</section>
	<section>
		<label for="password">Password</label
		><input
			type="password"
			id="current-password"
			name="password"
			autocomplete="current-password"
            required />
	</section>
    <button type="submit">Submit</button>
</form>
  </body>
</html>



